@model MovieDetailsModel
@{
	ViewData["Title"] = "Movie Details";
}
<div class="container" style="display: inline;">
	<div class="row">
		<h1>@Model.Title</h1>
		<div class="col-md-auto">
			<img src="@Model.ImagePath" alt="@Model.Title"/>
		</div>
		<div class="col">
			<br/>
			<div class="row">
				<div class="col-md-auto">
					<div class="row mb-3">
						<div class="col-2">
							<span class="d-flex align-items-center gap-3 mb-3">
								<i class="bi bi-clock icon"></i>
								<p class="mb-0">Duration:</p>
							</span>
						</div>
						<div class="col d-flex align-items-center">
							<p>@Model.Duration minutes</p>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-2">
							<span class="d-flex align-items-center gap-3 mb-3">
								<i class="bi bi-volume-up icon"></i>
								<p class="mb-0">Audio:</p>
							</span>
						</div>
						<div class="col d-flex align-items-center">
							<p>@Model.Audio</p>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-2">
							<span class="d-flex align-items-center gap-3 mb-3">
								<i class="bi bi-tag icon"></i>
								<p class="mb-0">Category:</p>
							</span>
						</div>
						<div class="col d-flex align-items-center">
							<p>@Model.Category</p>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-2">
							<span class="d-flex align-items-center gap-3 mb-3">
								<i class="bi bi-star icon"></i>
								<p class="mb-0">Rating:</p>
							</span>
						</div>
						<div class="col d-flex align-items-center mb-3">
							<p>@Model.Rating</p>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-2">
							<span class="d-flex align-items-center gap-3 mb-3">
								<i class="bi bi-chat-text icon"></i>
								<p class="mb-0">Subtitles:</p>
							</span>
						</div>
						<div class="col d-flex align-items-center">
							<p>@Model.Subtitles</p>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-2">
							<span class="d-flex align-items-center gap-3 mb-3">
								<i class="bi bi-book icon"></i>
								<p class="mb-0">Genre:</p>
							</span>
						</div>
						<div class="col d-flex align-items-center">
							<p>@Model.Genre</p>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-2">
							<span class="d-flex align-items-center gap-3 mb-3">
								<i class="bi bi-info-circle icon"></i>
								<p class="mb-0">Description:</p>
							</span>
						</div>
						<div class="col d-flex align-items-center">
							<p>@Model.Description</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	@if (!Model.Cinemas.Any())
	{
		<p>This movie is not currently available.</p>
	}
	else
	{
		<table class="table table-dark table-striped">
			<thead>
			<tr>
				<th scope="col">Cinema</th>
				<th scope="col">Location</th>
				<th scope="col">Showtimes</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var cinema in Model.Cinemas)
			{
				<tr>
					<th scope="row">@cinema.Name</th>
					<th>@cinema.Location</th>
					<td>
						@foreach (var showtime in cinema.Showtimes)
						{
							<span>@showtime.StartTime</span>
							<a asp-controller="Booking" asp-action="SelectTickets" asp-route-id="@showtime.Id" class="btn btn-danger">Book now</a>
							<p></p>
						}
					</td>
				</tr>
			}
			</tbody>
		</table>
	}
</div>

