@model UserProfileModel

@if (!Model.Bookings.Any())
{
	<h2>No bookings yet.</h2>
}
else
{
	<h2>Bookings</h2>
	<table class="table table-dark table-striped">
		<thead>
			<tr>
				<th scope="col">Movie</th>
				<th scope="col">Showtime</th>
				<th scope="col">Booking time</th>
				<th scope="col">Seats</th>
				<th scope="col">Tickets</th>
				<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var booking in Model.Bookings)
			{
				<tr scope="row">
					<td>@booking.MovieName</td>
					<td>@booking.ShowtimeStart</td>
					<td>@booking.BookingTime</td>
					<td>@foreach (var seat in booking.SelectedSeats)
					    {
						    <span>Row @seat.RowNum</span>
						    <span>Col @seat.ColNum,</span>
					    }
					</td>
					<td>@foreach (var ticket in booking.SelectedTickets)
					    {
						    <span>@ticket.Type - @ticket.Quantity,</span>
					    }
					</td>
					<td>
						@booking.SelectedTickets.Sum(t => t.Price * t.Quantity).ToString("F") лв.
					</td>
				</tr>
			}
		</tbody>
	</table>
}
}
