@model UserProfileModel

@if (!Model.Bookings.Any())
{
	<h2>No bookings yet.</h2>
}
else
{
	<h2>My bookings</h2>
	<table class="table table-dark table-striped">
		<thead>
			<tr>
				<th scope="col">Movie</th>
				<th scope="col">Showtime</th>
				<th scope="col">Booking time</th>
				<th scope="col">Seats</th>
				<th scope="col">Tickets</th>
				<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var booking in Model.Bookings)
			{
				<tr scope="row">
					<td>@booking.MovieName</td>
					<td>@booking.ShowtimeStart</td>
					<td>@booking.BookingTime</td>
					<td>
						@Html.Raw(string.Join(", ", booking.SelectedSeats.Select(seat => $"Row {seat.RowNum} Col {seat.ColNum}")))
					</td>
					<td>
						@Html.Raw(string.Join(", ", booking.SelectedTickets.Select(ticket => $"{ticket.Type} - {ticket.Quantity}")))
					</td>
					<td>
						@booking.SelectedTickets.Sum(t => t.Price * t.Quantity).ToString("F") лв.
					</td>
				</tr>
			}
		</tbody>
	</table>
}
}
